[submodule ".vim/pack/dbugsy/start/vim-test"]
	path = .vim/pack/dbugsy/start/vim-test
	url = https://github.com/janko/vim-test
[submodule ".vim/pack/dbugsy/start/vim-surround"]
	path = .vim/pack/dbugsy/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/dbugsy/start/vim-auto-save"]
	path = .vim/pack/dbugsy/start/vim-auto-save
	url = https://github.com/907th/vim-auto-save
[submodule ".vim/pack/dbugsy/start/ctrlp"]
	path = .vim/pack/dbugsy/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
[submodule ".vim/pack/dbugsy/start/vim-airline"]
	path = .vim/pack/dbugsy/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule ".vim/pack/dbugsy/start/golden-ratio"]
	path = .vim/pack/dbugsy/start/golden-ratio
	url = https://github.com/roman/golden-ratio
[submodule ".vim/pack/dbugsy/start/vim-ruby"]
	path = .vim/pack/dbugsy/start/vim-ruby
	url = https://github.com/vim-ruby/vim-ruby
[submodule ".vim/pack/dbugsy/start/supertab"]
	path = .vim/pack/dbugsy/start/supertab
	url = https://github.com/ervandew/supertab
[submodule ".vim/pack/dbugsy/start/nertree"]
	path = .vim/pack/dbugsy/start/nertree
	url = https://github.com/preservim/nerdtree
