[submodule ".vim/pack/dbugsy/start/vim-test"]
	path = .vim/pack/dbugsy/start/vim-test
	url = https://github.com/janko/vim-test
[submodule ".vim/pack/dbugsy/start/vim-surround"]
	path = .vim/pack/dbugsy/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule ".vim/pack/dbugsy/start/vim-auto-save"]
	path = .vim/pack/dbugsy/start/vim-auto-save
	url = https://github.com/907th/vim-auto-save
[submodule ".vim/pack/dbugsy/start/ctrlp"]
	path = .vim/pack/dbugsy/start/ctrlp
	url = https://github.com/kien/ctrlp.vim
